.card {
  margin: 25px;
  padding: 20px;
}

.card p,
h3 {
  padding-left: 10px;
  padding-right: 10px;
}

.parties__container {
  display: flex;
  gap: 140px;
  margin-bottom: 10px;
}

.button__container {
  display: flex;
  justify-content: end;
  margin-bottom: -30px;
  margin-top: -10px;
  margin-right: -10px;
}
